<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="app">

        <input type="text" v-model="input" placeholder="Cerca un film o una serie TV!">
        <button @click="cerca()">Cerca</button>

        <div class="container">
            <h2 v-if="cercato">Film:</h2>
            <div v-if="cercato && movies.length == 0">Nessun risultato!</div>
            <div class="card" v-for="movie in movies">

                {{movie.title}}
                <span v-if="movie.title != movie.original_title">{{movie.original_title}}</span>
                <img v-if="movie.original_language != ''" :src="'https://www.unknown.nu/flags/images/' + movie.original_language + '-100'" :alt="movie.original_language">
                <!-- {{movie.original_language}} -->
                {{movie.vote_average}}
                <i v-for="i in movie.vote_average" class="fas fa-star"></i>
                <i v-for="i in (5 - movie.vote_average)" class="far fa-star"></i>

            </div>

        </div>

        <div class="container">
            <h2 v-if="cercato">Serie TV:</h2>
            <div v-if="cercato && serieTVs.length == 0">Nessun risultato!</div>
            <div class="card" v-for="serieTV in serieTVs">

                {{serieTV.name}}
                <span v-if="serieTV.title != serieTV.original_title">{{serieTV.original_name}}</span>
                <img v-if="serieTV.original_language != ''" :src="'https://www.unknown.nu/flags/images/' + serieTV.original_language + '-100'" :alt="serieTV.original_language">
                <!-- {{serieTV.original_language}} -->
                {{serieTV.vote_average}}
                <i v-for="i in serieTV.vote_average" class="fas fa-star"></i>
                <i v-for="i in (5 - serieTV.vote_average)" class="far fa-star"></i>

            </div>

        </div>

    </div>

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Mio JS -->
    <script src="./assets/js/main.js"></script>
</body>
</html>