<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="app">

        <!-- header -->
        <header>

            <span>
                <img src="https://image.tmdb.org/t/p/w342/wwemzKWzjKYJFfCeiB57q3r4Bcm.png" alt="Logo di Netflix">
            </span>

            <span>
                <div @click="categoriaSelezionata = 'serietv'">Serie TV</div>
                <div @click="categoriaSelezionata = 'film'">Film</div>
                <div @click="categoriaSelezionata = 'mialista'">La mia lista</div>
            </span>
            
            <span>
                <input type="text" v-model="input" placeholder="Cerca un film o una serie TV!">
                <button @click="cerca()">Cerca</button>
                <!-- <span>Bambini</span>
                <i class="fas fa-caret-down"></i> -->
            </span>

        </header>
        <!-- /header -->

        <!-- main -->
        <main>

            <div class="container" v-if="categoriaSelezionata == 'film'">
                <h2 v-if="cercato">Film:</h2>
                <div v-if="cercato && movies.length == 0">Nessun risultato!</div>
                <div class="card" v-for="movie in movies">

                    <img v-if="movie.poster_path" :src="'https://image.tmdb.org/t/p/w342/' + movie.poster_path">
                    {{movie.title}}
                    <span v-if="movie.title != movie.original_title">{{movie.original_title}}</span>
                    <img v-if="movie.original_language != ''" :src="'https://www.unknown.nu/flags/images/' + movie.original_language + '-100'" :alt="movie.original_language">
                    <!-- {{movie.original_language}} -->
                    <!-- {{movie.vote_average}} -->
                    <i v-for="i in movie.vote_average" class="fas fa-star"></i>
                    <i v-for="i in (5 - movie.vote_average)" class="far fa-star"></i>

                </div>

            </div>

            <div class="container" v-if="categoriaSelezionata == 'serietv'">
                <h2 v-if="cercato">Serie TV:</h2>
                <div v-if="cercato && serieTVs.length == 0">Nessun risultato!</div>
                <div class="card" v-for="serieTV in serieTVs">

                    <img v-if="serieTV.poster_path" :src="'https://image.tmdb.org/t/p/w342/' + serieTV.poster_path">
                    {{serieTV.name}}
                    <span v-if="serieTV.title != serieTV.original_title">{{serieTV.original_name}}</span>
                    <img v-if="serieTV.original_language != ''" :src="'https://www.unknown.nu/flags/images/' + serieTV.original_language + '-100'" :alt="serieTV.original_language">
                    <!-- {{serieTV.original_language}} -->
                    <!-- {{serieTV.vote_average}} -->
                    <i v-for="i in serieTV.vote_average" class="fas fa-star"></i>
                    <i v-for="i in (5 - serieTV.vote_average)" class="far fa-star"></i>

                </div>

            </div>

            <div class="container" v-if="categoriaSelezionata == 'mialista'">
                <h2 v-if="cercato">La mia lista:</h2>
                <div v-if="cercato && miaLista.length == 0">Nessun risultato!</div>
                <div class="card" v-for="elem in miaLista">

                    <img v-if="elem.poster_path" :src="'https://image.tmdb.org/t/p/w342/' + elem.poster_path">
                    {{elem.name}}
                    <span v-if="elem.title != elem.original_title">{{elem.original_name}}</span>
                    <img v-if="elem.original_language != ''" :src="'https://www.unknown.nu/flags/images/' + elem.original_language + '-100'" :alt="elem.original_language">
                    <!-- {{elem.original_language}} -->
                    <!-- {{elem.vote_average}} -->
                    <i v-for="i in elem.vote_average" class="fas fa-star"></i>
                    <i v-for="i in (5 - elem.vote_average)" class="far fa-star"></i>

                </div>

            </div>

        </main>
        <!-- /main -->

    </div>

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Mio JS -->
    <script src="./assets/js/main.js"></script>
</body>
</html>