<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>

    <div id="app">

        <input type="text" v-model="input">
        <button @click="cerca()">Cerca</button>

        <div class="container">
            <h2 v-if="movies.length > 0">Film:</h2>
            <div class="card" v-for="movie in movies">

                {{movie.title}}
                {{movie.original_title}}
                <img :src="'https://www.countryflags.io/' + movie.original_language + '/flat/64.png'" :alt="movie.original_language">
                <!-- {{movie.original_language}} -->
                {{movie.vote_average}}

            </div>

        </div>

        <div class="container">
            <h2 v-if="serieTVs.length > 0">Serie TV:</h2>
            <div class="card" v-for="serieTV in serieTVs">

                {{serieTV.name}}
                {{serieTV.original_name}}
                <img :src="'https://www.countryflags.io/' + serieTV.original_language + '/flat/64.png'" :alt="serieTV.original_language">
                <!-- {{serieTV.original_language}} -->
                {{serieTV.vote_average}}

            </div>

        </div>

    </div>

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Mio JS -->
    <script src="./assets/js/main.js"></script>
</body>
</html>